{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Laparé bijoux · D'une épingle à l'autre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site web de Laparé bijoux, d'une épingle à l'autre">
        <meta name="author" content="@themaxx">
        <meta name="apple-mobile-web-app-title" content="Laparé">
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/touch-icon-iphone.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/touch-icon-ipad.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/touch-icon-iphone-retina.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/touch-icon-ipad-retina.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/touch-icon-iphone-6-plus.png' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{% static 'svg/logo.svg' %}" height="46px" style="position: relative; left: 0; top: -12px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#propos">À propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bijoux">Bijoux</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#expo">Expo et vente</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <section class="bg-primary propos" id="propos">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading blured lapare-yellow">Chaque bijoux est une création unique</h2>
                    <hr class="light">
                    <p class="text-faded blured lapare-yellow">
                        Bachelière en arts plastiques, diplômée en infographie et comptant plusieurs ateliers de perfectionnement en gravure et en joaillerie, Chantal Laparé fonde en 2007 LAPARÉ BIJOUX. Depuis lors, ses activités artistiques ne cessent de croître. En plus de présenter ses œuvres dans plusieurs points de vente dont Montréal, Trois-Rivières, Québec et en Colombie-Britannique, elle participe annuellement à de nombreuses expositions dans les diverses régions du Québec. L’originalité et les qualités esthétiques de son travail lui ont valu quelques prix et mentions. Chantal est membre artisan professionnel du Conseil des métiers d'art du Québec, membre du regroupement des Métiers d’art de la Mauricie depuis 2008 et de 2010 à 2012 a été membre de son conseil d’adminis-tration en tant que trésorière. Elle est aussi membre de l’Association des artistes de la Rive-Sud, l’AARS depuis 2013.
                    </p>
{#                    <a href="#bijoux" class="btn btn-default btn-xl">Bijoux</a>#}
                </div>
            </div>
        </div>
       <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="service-box">
                        <a href="http://fr.chatelaine.com/blogues/blogue-de-la-redac/beaux-bijoux/">
                            <img class="wow bounceIn" src="{% static 'img/chatelaine.png' %}" width="50%" height="50%">
                            <p class="text-faded blured lapare-yellow">
                                Billet sur Laparé bijoux sur le blogue de la rédaction de la revue Châtetelaine
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="service-box">
                        <a href="http://www.emametiersdart.ca/">
                            <img class="wow bounceIn text-primary" data-wow-delay=".1s" src="{% static 'img/emametiersdart.png' %}" height="50%" width="50%">
                            <p class="text-faded blured lapare-yellow">
                                Venez découvrir les artistes de la région en visitant la magnifique boutique EMA à Trois-Rivières
                            </p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="bijoux">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
{#                  <ol class="carousel-indicators">#}
{#                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
{#                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
{#                  </ol>#}

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                      {% for img in carousel %}
                        <div class="text-center item{% if forloop.first %} active{% endif %}" style="background-color: #FAFAFA">
                            <img src="{% static 'img/carousel/' %}{{ img }}" alt="..." class="center-block">
                        <div class="carousel-caption"></div>
                        </div>
                  {% endfor %}
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding bg-dark" id="expo">
        <div class="container text-center">
            <div class="call-to-action">
                <h3>Quebec</h3>
                {% for vente in ventes_quebec %}
                    {{ vente.nom }}
                    <br>
                    {{ vente.address }}
                    <br>
                    {{ vente.url }}
                {% endfor %}
            </div>
        </div>
    </section>

{#    <aside class="bg-dark">#}
{#        <div class="container text-center">#}
{#            <div class="call-to-action">#}
{#                <h2>Free Download at Start Bootstrap!</h2>#}
{#                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>#}
{#            </div>#}
{#        </div>#}
{#    </aside>#}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact section!</h2>
                    <hr class="primary">
                    <p>Blablabla</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">email@domain.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>

</body>

</html>
